.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $sans;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $header;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: .4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}

.fa {
  &-facebook-official {
    color: #3b5998;
    filter: grayscale(100%);
    transition: all .5s ease;
  }
  &-facebook-official:hover {
    filter: grayscale(0%);
  }
  &-twitter {
    color: #4099ff;
    filter: grayscale(100%);
    transition: all .5s ease;
  }
  &-twitter:hover {
    filter: grayscale(0%);
  }
  &-instagram {
    filter: grayscale(100%);
    transition: all .5s ease;
  }
  &-instagram:before {
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
  }
  &-instagram:hover {
    filter: grayscale(100%);
  }
  &-envelope-o {
    color: #ff0000;
    filter: grayscale(100%);
    transition: all .5s ease;
  }
  &-envelope-o:hover {
    filter: grayscale(0%);
  }
}
